<div class="Revere__wrapper likes" id="RevereWrapperLikes-{{ItemId}}">
    <div class="Revere__likes">
        <div class="Revere__likes-total">
            {{Likes}}
        </div>
        <img class="Revere__likes-image" id="RevereLikesUpdate-{{ItemId}}" src="{{LikesImgSrc}}" data-itemid="{{ItemId}}" />
    </div>
</div>